/* ESTILOS GENERALES */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "fuente-principal";
    src: url("../maquetacion-2/CSS/fonts/BebasNeue.otf") format("OpenType");
}

.clearfix {
    float: none;
    clear: both;
}

/* MENÚ DE NAVEGACIÓN */

.nav {
    width: 100%;
    height: 50px;
    margin-bottom: 125px;
    line-height: 50px;
    background-color: #333;
}

.nav ul {
    margin: 0 auto;
    list-style-type: none;
    font-family: fuente-principal;
    font-weight: lighter;
    width: 750px;
}

.nav ul li {
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.7;
    transition: 400ms all;
    display: block;
}

.nav ul li a:hover {
    text-shadow: 0px 0px 5px #ccc;
    opacity: 1;
    animation: difuminado;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform: scale(1.1);

}

@keyframes difuminado {
    0% {
        filter: blur(0px);
    }

    50% {
        filter: blur(1.5px);
    }

    100% {
        filter: blur(0px);
    }
}

/* ENCABEZADO DE LA PÁGINA */
.header {
    background: rgb(255, 125, 244);
    height: 500px;
    box-shadow: 0px -0.5px 4px black inset;
}

#header {
    background-color: rgba(0, 0, 0, 0.575);
    width: 500px;
    height: 150px;
    border: 4px solid black;
    margin: 0 auto;
    padding-top: 15px;
}

#header h1 {
    color: white;
    font-family: fuente-principal;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3PX;
    font-size: 50px;
}

#header h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: fuente-principal;
    font-weight: lighter;
    letter-spacing: 1px;
}

#content {
    width: 95%;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 30px;
}

#content #aside {
    float: left;
    width: 20%;
    /* border: 1px solid black; */
    text-align: center;
    font-family: fuente-principal;
    letter-spacing: 3px;
    min-height: auto;
    margin-right: 40px;
    box-shadow: 0px 0px 4px 3px #ccc;
    border-radius: 10px;
}

#content #aside h3 {
    font-size: 45px;
    background-color: rgb(255, 125, 244);
    border-radius: 10px 10px 0px 0px;
}

#content #aside p img {
    width: 47px;
    height: 47px;
    margin-right: 10px;
    vertical-align: middle;
}

#content #aside p {
    font-size: 30px;
}

#content #articles {
    font-family: fuente-principal;
    float: left;
    width: calc(80% - 40px);
    font-size: 30px;
}

#content #articles #article {
    margin-bottom: 20px;
}

#content #articles #article h3 {
    background-color: rgb(255, 125, 244);
    border-radius: 10px 10px 0px 0px;
}

form {
    margin: 40px;
}